
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: #fff;
}


.detail-form {
    max-width: 80%;
    margin: auto;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: #ddd;
}

.form-row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    
}

.image-container {
    margin-right: 20px;
   
}

.image-container img {
    width: 500px;
    height: 700px;
    border-radius: 5px;
}

h4, p {
    color: #ffd700; 
    margin: 10px 0;
}

h4 {
    color: #fffffd; 
    margin: 10px 0;
}


.votacion {
    border: none;
    text-align: left;
    direction: rtl; 
}

.votacion input {
    display: none;
}

.votacion label {
    display: inline-block;
    font-size: 2em;
}

.votacion input:checked ~ label,
.votacion:not(:checked) label:hover,
.votacion:not(:checked) label:hover ~ label {
    color: gold;
}

.votacion input:checked + label:hover,
.votacion input:checked ~ label:hover,
.votacion label:hover ~ input:checked ~ label,
.votacion input:checked ~ label:hover ~ label {
    color: yellow;
}



/*estilos estrellas primera version*/
.votacion-anime {
    border: none;
    text-align: left;
    direction: rtl;
}

.votacion-anime span {
    display: inline-block;
    font-size: 2em;
    color: #ddd; 
}

/* Estrellas resaltadas */
.votacion-anime span.full-star {
    color: gold;
}

/* Estrellas no resaltadas */
.votacion-anime span.empty-star {
    color: #ddd; 
}

h2{
    text-align: center;
}

.text-container{
    max-width: 350px;
}
